version: "3.8"

services:
  frontend:
#    image: frontend:1.0.0 # Đặt version/tag cho service frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - BACKEND_URL=http://backend:3001
    ports:
      - "9999:3000"
    volumes:
      - ./frontend:/app
      - /frontend/node_modules
    depends_on:
      - backend
    networks:
      - app-network
    environment:
      - TEST_ENV=Test

  backend:
#    image: backend:1.0.0 # Đặt version/tag cho service backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - PORT=3001
      - CONNECTION_STRING=mongodb://mongo:27017/e-commerce
      - DATABASE_NAME=e-commerce
    volumes:
      - ./backend:/app
      - /backend/node_modules
    networks:
      - app-network

networks:
  app-network:
    driver: bridge